## Education

{% for edu in education %}
• **{{ edu.degree }}** <span style="float:right">{{ edu.start }}-{{ edu.end[2:] }}</span>  
*{{ edu.institution }}* <span style="float:right">CGPA: {{ edu.cgpa }}</span>

{% endfor %}