## Experience

{% if experience %}
{% for entry in experience %}
### {{ entry.company }} - {{ entry.location }}
{% if entry.link %}[Website]({{ entry.link }})
{% endif %}

{% if entry.roles %}
{% for role in entry.roles %}
#### {{ role.title }} <span style="float:right">{{role.start}} - {{role.end}}</span>

{% if role.highlights %}
{% for bullet in role.highlights %}
- {{ bullet }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}

{% endfor %}
{% else %}
*(no work experience listed)*
{% endif %}
