<table width="100%">
<tr>
<td align="left">

# Siddharth Dhaigude  
siddharthdhaigude.me

</td>
<td align="right">

Email : siddharthdhaigude@gmail.com  
Mobile : +91-7506575930  
Github: sd8capricon

</td>
</tr>
</table>

{% include "sections/about.md.jinja" %}

{% include "sections/education.md.jinja" %}

{% include "sections/experience.md.jinja" %}

{% include "sections/publications.md.jinja" %}

{% include "sections/accomplishments.md.jinja" %}

